___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a<=b:
            return a
        else:
            return b
    else:
        if a>=b:
            return a
        else:
            return b

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [9]:
def animal_crackers(text):
    words=text.split()
    word1=words[0]
    word2=words[1]
    if words[0][0].upper()==words[1][0].upper():
        return True
    else:
        return False

In [10]:
# Check
animal_crackers('Levelheaded Llama')

True

In [11]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [12]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20 or n1+n2==20:
        return True
    else:
        return False

In [17]:
# Check
makes_twenty(10,20)

True

In [18]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [1]:
def old_macdonald(name):
    first=name[0].upper()
    fourth=name[3].upper()
    new_name=first+name[1:3]+fourth+name[4:]
    return new_name

In [2]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [1]:
words='I am home'

words2=words.split()
print(words2)
words2.reverse()
print(words2)
words3=' '.join(words2)
print(words3)

['I', 'am', 'home']
['home', 'am', 'I']
home am I

In [2]:
def master_yoda(text):
    words2=text.split()
    #print(words2)
    words2.reverse()
    #print(words2)
    words3=' '.join(words2)
    return words3

In [3]:
# Check
master_yoda('I am home')

'home am I'

In [4]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [18]:
def almost_there(n):
    if abs(100-n)<=10 or abs(200-n)<=10:
        return True
    else:
        return False

In [19]:
# Check
almost_there(104)

True

In [20]:
# Check
almost_there(150)

False

In [21]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [34]:
def has_33(nums):
    a=[]
    for i in range(1,len(nums)):
        print(nums[i-1])
        print(nums[i])
        if nums[i]==3 and nums[i-1]==3:
            a=True
            return True
            print('This is true')
    '''
    if a==True:
        return True
    else:
        return False
    '''
    return False

In [35]:
# Check
has_33([1, 3, 3])

1
3
3
3

True

In [32]:
# Check
has_33([1, 3, 1, 3])

1
3
3
1
1
3

False

In [33]:
# Check
has_33([3, 1, 3])

3
1
1
3

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [36]:
def paper_doll(text):
    output=''
    for letter in text:
        output+=letter*3
    return output

In [37]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [38]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [41]:
def blackjack(a,b,c):
    summ=a+b+c
    if summ<=21:
        return summ
    elif summ>21 and (a==11 or b==11 or c==11):
        return (summ-10)
    else:
        return 'BUST'

In [42]:
# Check
blackjack(5,6,7)

18

In [43]:
# Check
blackjack(9,9,9)

'BUST'

In [44]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [50]:
def summer_69_(arr):
    summ=0
    pass_me=0
    for num in arr:
        if num==6:
            pass_me=1
            print('I hit a 6')
        if pass_me==0:
            summ+=num
            print(f'I added {num}')
        if pass_me==1 and num==9:
            pass_me=0
            print('I hit a 9')
    return summ

In [51]:
# Check
summer_69([1, 3, 5])

I added 1
I added 3
I added 5

9

In [52]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

I added 4
I added 5
I hit a 6
I hit a 9

9

In [53]:
# Check
summer_69([2, 1, 6, 9, 11])

I added 2
I added 1
I hit a 6
I hit a 9
I added 11

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [57]:
def spy_game_oops(nums):
    index=0
    for i in range(0,len(nums)-2): 
        check=str(nums[i])+str(nums[i+1])+str(nums[i+2])
        if check=='007':
            print('YES')
            return True
    return False

In [81]:
def spy_game(nums):
    code=[0,0,7,'x']
    
    for num in nums: 
        if num==code[0]:
            code.pop(0)
            print('Found one')
    if code==['x']:
        return True
    else:
        return False

In [82]:
# Check
spy_game([1,2,4,0,0,7,5])

Found one
Found one
Found one

True

In [83]:
# Check
spy_game([1,0,2,4,0,5,7])

Found one
Found one
Found one

True

In [84]:
# Check
spy_game([1,7,2,0,4,5,0])

Found one
Found one

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [78]:
def count_primes(num):
    if num<2:
        return 0
    else:
        number=1
        flag=0
        for i in range(3,num+1):
            for j in range(2,i):
                #print(f'num = {i}   check = {j}')
                if i%j==0:
                    flag=1
                    #print(f'{i} is not prime because it is divisible by {j}')
                    break
            if flag==0:
                number+=1
                #print(f'{i} is prime')
            flag=0
        return number

In [80]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!